.destination-container{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.destination-box{
    width: 400px;
    height: 300px;
    background-color: #eeeeee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.destination-form p{
    font-weight: 700;
    margin-top: 10px;
}
form input{
    padding-inline-start: 10px;
    height: 45px;
    width: 350px;
    border: none;
    border-radius: 5px;
}
.map{
    width: 1300px;
}
.search-btn{
    background-color: #ff5845;
    color: white;
    width: -webkit-fill-available;
    font-size: 15px;
}